<section id="products" class="container mx-auto py-10">
        <div  class="grid grid-cols-5" *ngFor="let book of books">
            <div class="px-4 my-4 border-r product-item" *ngFor="let bookCopy of book.bookCopies">
                <div class="product-item--top">
                    <a href="#">
                        <img src="{{ bookCopy.imageUrl }}" class="rounded-2xl" alt="{{ book.title }}">
                    </a>
    
                    <div class="product-item--action">
                        
                    </div>
                </div>
    
                <div class="product-item--bottom mt-4">
                    <div>
                        <a href="#" class="font-medium text-xl">{{ book.title }}</a>
                    </div>
                    <div *ngFor="let author of book.authors">
                        <a href="#" class="text-gray-400 font-medium">{{ author.name }}</a>
                    </div>
                </div>
            </div>
        </div>
</section>