#banner {
    background-image: url(../../../assets/banner-bg.jpg);
    background-size: cover;
}

.banner-left {
    .gray {
        color: #BEB4B4;
    }

    .large {
        font-size: 4.2rem;
        line-height: 4.6rem;
    }

    .button {
        background-color: black;
        color: white;
        padding: 14px 44px;
    }
}

.banner-right {
    overflow: hidden;
    img {
        max-width: 150%;
    }
}

#featured-categories {
    .bg-purple {
        background-color: #FAF1FF;
    }

    .bg-orange {
        background-color: #FAF4EB;
    }

    .bg-brown {
        background-color: #F4E6E5;
    }

    .bg-green {
        background-color: #E6F2F4;
    }

    .bg-pink {
        background-color: #FFF6F6;
    }

    .category-item {
        fa-icon {
            font-size: 40px;
        }
    }
}

.large {
    font-size: 2rem;
}

.slick-list {
    width: 140%;
}