<section id="signup" class="container mx-auto my-20">
    <div class="sm:max-w-sm mx-auto">
        <h2 class="text-3xl font-bold mb-8 text-center">Register</h2>
        <div class="mb-8 bg-red-300 py-4 font-bold border border-red-500" *ngIf="loginForm.errors?.['generalErr']">
            <div class="list-disc text-red-600 ml-4">
                {{ loginForm.errors?.['generalErr'] }}
            </div>
        </div>
        <form action="post" [formGroup]="loginForm">
            <div class="mb-4">
                <label for="email" class="block font-medium after:content-['*'] after:ml-0.5 after:text-red-500">Email address</label>
                <div>
                    <input type="email" name="email" id="email" formControlName="email" class="py-3 my-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
                    focus:outline-none focus:border-emerald-500" />
                    <div *ngIf="!loginForm.controls.email?.valid && (loginForm.controls.email?.touched || loginForm.controls.email?.dirty)" class="text-sm text-red-500 font-bold">
                        <span *ngIf="loginForm.controls.email?.errors?.['required']">
                            Email is required.
                        </span>
                        <span *ngIf="loginForm.controls.email?.errors?.['email']">
                            Email is invalid.
                        </span>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <label for="password" class="block font-medium after:content-['*'] after:ml-0.5 after:text-red-500">Password</label>
                <div>
                    <input type="password" name="password" id="password" formControlName="password" autocomplete class="py-3 my-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
                    focus:outline-none focus:border-emerald-500" />
                </div>
                <div *ngIf="!loginForm.controls.password?.valid && (loginForm.controls.password?.touched || loginForm.controls.password?.dirty)" class="text-sm text-red-500 font-bold">
                    Password is required.
                </div>
            </div>

            <div>
                <button
                    (click)="onSubmit()"
                    [disabled]="!loginForm.valid"
                    class="bg-emerald-900 hover:bg-emerald-800 text-white p-2 px-4 rounded-lg mx-auto block font-medium
                    disabled:bg-emerald-400">Register</button>
            </div>
        </form>
    </div>
</section>